body{
    background-image: url("./charles aznavour/image/photo-de-charles.webp");
    background-color: rgb(98, 189, 231);
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
   
}
p{
   text-align:start; 
   text-decoration: rgb(21, 8, 18);
   font-size: large;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-weight: 200;
    font-style: inherit;
    box-shadow: 10px 0px 20PX grey;
}
h1{
    text-align: center;
    text-decoration: solid;
    text-shadow: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(9, 9, 9) ;
   
}

h2{
    text-align: start;
    text-decoration: underline rgb(42, 5, 99);
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 15px;
    text-decoration-color: blue;
    color: blue;
}

h3{
    text-align: center;
    text-decoration: underline rgb(42, 5, 99);
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 15px;
    text-decoration-color: blue;
    color: blue;  
}
.menu ul{
    display: flex;
    margin: 20 0px;
    text-align: justify;
    text-decoration: rgb(226, 225, 227);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    box-shadow: 30px 20px 0px;
}
.menu a{
    margin: 0 20px;
}





.menu a{
    margin: 0 20px;
}
section li{
    
    text-align: justify;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    text-decoration: solid;
    margin: 10px;

}
 p footer{
    display:flex;
    justify-content: center;
    text-align: center;
    text-decoration: rgb(55, 92, 213);
   font-size: large;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-weight: 200;
    font-style: inherit;

}

h4{
    
    text-align: justify;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    text-decoration: sandybrown; 
}
.historique{
    display:flex;
    justify-content: space-around;

}
<!-------------------------------------------------------------------------->
main {
    padding: 20px;
}

section {
    margin: 40px 0;
}



footer {
    
    color: rgb(48, 143, 162);
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}



form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {

    width: 100px;
    padding: 10px 15px;
    background-color: blue SOLID;
    color: rgb(27, 12, 71);
    border-bottom: rgb(27, 12, 71);
    cursor:grab;
    align-items: center;
    margin: 20px auto;
    justify-content: center;
}

img{
   
    height: 300px;
    width: 200px;
    background-color: aquamarine;
    border-color: rgb(17, 18, 18);
    justify-items: right;

}
img .photos{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
li{
    text-align: start; 
    text-decoration: rgb(63, 1, 70);
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
     font-weight: 200;
     font-style: inherit;
}
.réseaux{
    display:flex;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-style:oblique;
    text-shadow: 10px;
    text-decoration: rgb(90, 5, 64);
}
.photos img{
   display:flex;
   justify-content: space-around; 
   flex-wrap: wrap;
}
main img{
    height: 300px;
    width: 400px;
    justify-content: right;
    
}
.réseaux img{
    height: 30px;
    width: 30px;
}
.réseaux a{
    text-decoration: rgb(7, 104, 99);
    color:rgb(70, 70, 68);
}
.fansite{
    display: flex;
    justify-content:right;
    margin: 20px;
}
.site{
    display: flex;
    justify-content: left ;
}
.video {
    
    width: 560px;
    height: 315px;
    
  }
  header{
    background-color: rgb(207, 197, 197);
  }